* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: rgb(45, 98, 211);
    padding: 15px 0 15px 25px;
    font-size: 50px;
    font-weight: bold;
    color: white;
}

#search {
    text-align: center;
    margin: 60px 0 30px 0;
    scale: 2;
}

#forecastCurrent {
    /* Start with display:none, change to :block after pulling forecast data */
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    padding: 20px 0 10px 20px;
    background-color: rgb(228, 249, 255);
    border-radius: 10px;
}

#searchHistory {
    text-align: center;
    margin-bottom: 20px;
}
#searchHistory button {
    margin: 0 10px 0 10px;
    scale: 120%;
}

#forecastFiveDay {
    text-align: center;
}

#forecastDay1, #forecastDay2, #forecastDay3, #forecastDay4, #forecastDay5 {
    /* Start with display:none, change to :inline-block after pulling forecast data */
    display: none;
    margin: 20px 0 0 0;
    width: 140px;
    padding: 20px 0 10px 10px;
    background-color: rgb(228, 249, 255);
    text-align: left;
    border-radius: 10px;
}

ul {
    list-style: none;
}
li {
    margin-bottom: 10px;
}

h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

img {
    margin-bottom: 10px;
}

button {
    background-color:rgb(228, 249, 255);
    border-radius: 5px;
    border-color: white rgb(184, 240, 255) rgb(184, 240, 255) white;
}